<body>
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <h1>WELCOME TO 3F PLAYROOM CATALOG</h1>
        </div>
        <div class="col-lg-2 text-right">
          <button class="btn btn-primary"><p>Aggiungi Gioco</p><span class="material-icons py-3 px-3">add</span></button>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                  <tr>
                   
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Player Number</th>
                    <th scope="col">Pegi</th>
                    <th scope="col">Operations</th>                    

                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let f of gamesDB">
                <td>{{f.category}}</td>
                <td>{{f.name}}</td>
                <td>{{f.nplayer}}</td>
                <td>{{f.pegi}}</td>
                <td><button class="btn btn-primary"><span class="material-icons py-2 px-2 text-white">edit</span></button> <button class="btn btn-primary"><span class="material-icons py-2 px-2 text-white" (click)="deleteGame(f)">delete</span></button></td>
              </tr>
              </tbody>

              </table>
        </div>
    </div>
</div>
</body>